.mantine-Stack-root{
    gap :0px
}

.mantine-Drawer-close svg{
    font-family: bolder !important;
    fill: gold !important;
    /* border: 3px solid red; */
    height: 100px !important;
}

.mantine-Drawer-drawer    {border-radius: 10px 10px 0 0;}
/* .mantine-TextInput-input {
    border-radius: 12px !important;
} */

svg {fill:red !important; float:left}